

.nav{
    background-color:lightgray;
    

}

.txt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link{
    text-decoration: none;
    
}

.link:hover{
    color: red;
    cursor: pointer;
}
