.sochil{
    text-align: center;
    margin-top:40px;
    
}
.sochil a 
{
    text-decoration: none;
    padding: 5px;
}

.author{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}